* {
    box-sizing: border-box;
}

body, div, header, footer, aside, nav, span, article {
    margin: 0;
    padding: 0;
}

:root {
  --primary: #c7c7c73a;
  --primary-dark: #0a3d66;
  --primary-hover: #0d5ba8;
  --primary-light: #09f;
  --background: #cacaca;
  --text-primary: #ffffff;
  --text-secondary: #cbd5e1;
  --text-muted: #94a3b8;
  --border: rgba(255, 255, 255, 0.1);
  --card-bg: #1e293b;
  --shadow: rgba(0, 0, 0, 0.3);
  --input-bg: #1e293b;
  --hsla-example: rgb(45, 170, 20);
}

/* ---- SECCIﾃ誰 HEADER NAVSEARCH ---- */

.container__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container__nav-wrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    background-color: var(--background);
    margin: auto;
}

.container__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

.container__header-form {
    display: flex;
    justify-content: center;
    gap: 5px;
}

/* ---- SECCIﾃ誰 DASHBOAR---- */

.content__wrapper {
    display: flex;
    flex-direction: row;
    height: 90vh;
    margin: 0;
    padding: 0;
}

/* ---- DASHBOAR ENDS ---- */

/* ---- SECCIﾃ誰 NAVBAR ASIDE---- */

.content__aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--primary);
    flex: 0.5;

}

.content__nav {
    display: flex;
    flex-direction: column;

    a {
        text-decoration: none;
        padding: 10px;
    }
}


/* ----  NAVBAR ASIDE ENDS ---- */

/* ----  SECCIﾃ誰 MAIN ---- */

.main__content {
    flex: 2;
}

.main__content-wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.main__header {
    text-align: center;
}

.main__footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.main__card-footer {
    padding: 30px;
    text-align: center;
    border: 2px solid #0006;
}
