* {
    box-sizing: border-box;
}

body, div, header, footer, aside, nav, span, article {
    margin: 0;
    padding: 0;
}

.container__wrapper {
    display: flex;
    flex-direction: column;
}

.content__wrapper {
    display: flex;
    flex-direction: row;
}